@media screen and (max-width: 992px) {
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {

    font-family: 'Poppins', sans-serif;


}

.nav-container {
    /*border: 2px solid red;*/
    min-height: 20px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    /*border: 2px solid blue;*/
    /* width: 35%; */
    height: 56px;
}
    .special{
        color: #FF5400;
        font-weight: 800;
    }


.nav-container img{
    width:  48px;
    height: 56px;
}
.nav-container p{
  font-size: 36px;
  
  font-weight: 800;
  color: #131318;
  white-space: nowrap;
}

.header-section{
    max-width: 1170px;
    /*background-color: blue;*/
    margin: 0 auto;
    /*border: 2px solid green;*/
    display: flex;
    height: 56px;
    margin-bottom: 50px;
    
}

.items-container{
    /*border: 2px solid yellow;*/
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items:center;
    margin-left: 450px;
    }

    .items-container a{
        text-decoration: none;
    }
    .good{
        color: #FF5400;
    }

    .banner-section{
/* border: 2px solid red; */
        
        max-width: 1170px;
        height: 500px;
        margin: 0 auto;
    }

    .banner-container {
        border: 2px solid red;
        width: 800px;
        height: 250px;
        align-items: center;
        margin-left: 185px; 
        justify-content: center; 
           
    }
    .banner-container p {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        line-height: 26px;
        color: #FFF;
        /* width: 676px; */
        margin-top: auto;
    }

    .banner-container h1 {
        font-size: 64px;
        font-weight: 800;
        font-style: normal;
        text-align: center;
        line-height: normal ;
        color: #FFF;
        /* width: 676px; */
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .where {
color: rgba(19, 19, 24, 0.50);
text-align: left;
font-size: 16px;
font-style: normal;
font-weight: 400;
width: 120px;
height: 18px;
border-radius: 5px;
background: #FFF;
margin-left: 75px;

    }

    .when {
        color: rgba(19, 19, 24, 0.50);
        text-align: left;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        width: 120px;
        height: 18px;
        border-radius: 5px;
        background: #FFF;
        margin-left: 10px;
    }
    .select {
        color: rgba(19, 19, 24, 0.50);
        text-align: left;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        width: 120px;
        height: 18px;
        border-radius: 5px;
        background: #FFF;
        margin-left: 10px;
    }

    .find {
        color: rgba(19, 19, 24, 0.50);
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        width: 174px;
        height: 18px;
        border-radius: 5px;
        background-color: #ee631d;
        margin-left: 10px;
    }

    .popular-section{
        border: 2px solid red;
        max-width: 1170px;
        height: 550px;
        margin: 0 auto;
        margin-top: 50px;
            }

    .popular-container {
        border: 2px solid red;
        width: 600px;
        height: 550px;
        /* align-items: center; */
        /* margin-left: 0px;  */
        float: left;
        /* justify-content: center;  */
                   
        }

    .popular-container h1{
        color: #131318;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        text-align: left;
        line-height: normal;
    }    
    .popular-container p{
        color: rgba(19, 19, 24, 0.70);
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 26px;
        display: flex;
    }
    .popular-image {
                /* border: 2px solid red; */
                width: 540px;
                height: 550px;
                /* align-items: center; */
                /* margin-left: 610px;  */
                /* justify-content: center;  */
                   /* display: inline; */
                   float: right;
            }        