@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {

    font-family: 'Poppins', sans-serif;


}

.nav-container {
    /*border: 2px solid red;*/
    min-height: 20px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    /*border: 2px solid blue;*/
    /* width: 35%; */
    height: 56px;
}
    .special{
        color: #FF5400;
        font-weight: 800;
    }


.nav-container img{
    width:  48px;
    height: 56px;
}
.nav-container p{
  font-size: 36px;
  
  font-weight: 800;
  color: #131318;
  white-space: nowrap;
}

.header-section{
    max-width: 1170px;
    /*background-color: blue;*/
    margin: 0 auto;
    /*border: 2px solid green;*/
    display: flex;
    height: 56px;
    margin-bottom: 50px;
    
}

.items-container{
    /*border: 2px solid yellow;*/
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items:center;
    margin-left: 450px;
    }

    .items-container a{
        text-decoration: none;
        
    }
    .good{
        color: #FF5400;
    }

    .explore-section{
/* border: 2px solid red; */
        
        max-width: 1170px;
        height: 500px;
        margin: 0 auto;
    }

    .explore-container h1{
        border: 2px solid red;
        width: 800px;
        height: 250px;
        align-items: center;
        margin-left: 185px;
     
        
    }

    